@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
$enable-gradients:true;
$enable-grid-classes:true;
$clr:#f9758c;

//navbar
$nav-clr:#faecec;

.navbar{
   background-color:$nav-clr ; 
}

//first list-navbar

$ml1:550px;
$ml2:0px;
.li{
    margin-left: $ml1;
    float:right;    

    @include media-breakpoint-down(lg)
    {
        margin-left:$ml2;
    }
}
//div1
$d1-bg: #faecec;
$d1-align:center;
$d1-height:200px;
.div1{
    background-color:$d1-bg;
    text-align:$d1-align;
    height:$d1-height;

   


  

}
//img1
$img1-wid:80px;
$img1-height:80px;
.img1{
    width:$img1-wid;
    height:$img1-height;
}
//img2
$img2-height:200px;
$img2-width:145px;
$img2-float:none;
$img2-mt:45px;
$img2-ml:100px;
.img2{
    width: $img2-width;
    height:$img2-height;
    float:$img2-float;
    margin-top: $img2-mt;
    margin-left:$img2-ml;

    @include media-breakpoint-down(lg){
                 display: none;
    }
}
//img
$img-width:90px;
$img-height:90px;
$mt:auto;

.d-img{
    @include media-breakpoint-down(lg){
        display:block;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }

    .imgp{
    width:$img-width;
    height:$img-height; 
    display:block;
    margin-left:auto;
    margin-right:auto;

    @include media-breakpoint-down(lg){ 
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top:10px;
    } 
}
}



//buttons
$b-width:150px;
$b-height:30px;
//breakpoint buttons
$br-b1-width:70px;
$br-b1-height:10px;

.b{
    width:$b-width;
    height:$b-height;
    display:block;
    margin-left:auto;
    margin-right:auto;
    @include media-breakpoint-down(md){
        margin-top:0px;
        
    }
}

.b1{
    width:$b-width;
    height:$b-height;  
    @include media-breakpoint-between(xs,md){
        width:$br-b1-width;
        height:$br-b1-height;
        margin-left:$mt;
        margin-right:$mt;  
            
    }
     
}


//div2
$d2-bg:hsl(357, 91%, 87%);
$d2-height:350px;

.div2{
    background-color: $d2-bg;
    height:$d2-height; 
//breakpoint-height-div2
$d2-br-height:400px;
    @include media-breakpoint-down(lg){
        height:$d2-br-height;
    }  
}
//paragraph

$margin:50px;

.p{
    background-color: $clr;
    margin:$margin;

        @include media-breakpoint-down(lg){
            display:inline-block;
        }
}
//foot
$f-bg: #ffffff;

.foot{
    background-color:$f-bg;
}

//div2 heading
$align:left;
$mar:50px;
$wid:450px;

#hed{
    margin-top:$mar;  
    text-align: $align;
    width: $wid;
    margin:$mar;

//breakpoints
$br-width:270px;
$br-margin:20px;
    @include media-breakpoint-down(sm){
        width:$br-width;
        margin:$br-margin;
    }

}
//li4
$float:right;

.li4{
    float: $float;
}   
.div00{

    max-width:50%;

    @include media-breakpoint-between(sm,md){
        max-width:50%;

        
    }
}
@include media-breakpoint-down(lg){
    .b{
        width:125px;
        align-items: center;
        justify-content: center;
    }
}

