@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
$enable-gradients:true;
$enable-grid-classes:true;
$clr:#f9758c;


.navbar{
   background-color: #faecec;
}


.div1{
    background-color: #faecec;
    text-align:center;
    height: 250px;

}

.img1{
    width: 140px;
    height:140px
}

.img2{
    width: 140px;
    height:140px;
    margin-left: 40%;
    margin-top: 30px;
}

.img{
    width:90px;
    height:90px;
    margin-left: 40%;
    margin-top: 30px;
}

.b1{
    width:150px;
    height:30px;
    margin-left: 33%;
    @include media-breakpoint-down(sm){
        display: none;
    }
}

.div2{
    background-color: #fcc1c4;
    height:300px;   
}

p{
    background-color: $clr;
    margin:70px;
}

.foot{
    background-color: #ffffff;
}