@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";


.navbar-brand{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size:40px;
}

.text{
    color:#a9c5c3;
}

.head-section{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
    margin-top: 50px;
}
.para{
    color: grey;
}

.btn-block::before{
    font-family: "FontAwesome";
    content:"\f1b0";
    position:relative;
}
.icon-paw::before{
    font-family: "FontAwesome";
    content:"\f1b0";
    transform:rotate(45deg);
}

.img-fluid{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle;
    
}
